name: Test Pipeline
on:
  push:
    branches:
      - main
jobs:
  greetings:
    runs-on: ubuntu-latest
    steps:
      - name: greet user
        run: |
          echo "welcome to the workflow"
          echo "-----------------------"
          echo "First workflow in Class ..."
          echo "-------------------------"
